body {
    
}

.title {
    text-align: center;
}
.bodyTuto{    
   height: 230px;
    width: 600px;
    background-color: aqua;
    text-align: center;

}

input{
    margin-top: 10px;
    margin-left: 5px;
}

button{
    margin-top: 10px;
    margin-left: 20px;

}
