body {}

.title {
    text-align: center;
}

.bodyTuto {
    height: 300px;
    width: 650px;
    background-color: aqua;
    text-align: center;
}

.injetada {
    margin-top: 10px;
}

.interacao {
    width: 40px;
    height: 20px;
}

.titulos {
    margin-top: 10px;
}

.bancoTuto {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 650px;
    height: 150px;
    background-color: yellowgreen;
    text-align: center;
}

input {
    margin-top: 10px;
    margin-left: 5px;
}

button {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
}