body {}

#roteiro {
    height: 150px;
    width: 100%;
}

.title {
    text-align: center;
}

.bodyTuto {
    height: 400px;
    width: 850px;
    text-align: center;
    border-bottom: 10px;
}

.injetada {
    margin-top: 10px;
}

.interacao {
    width: 40px;
    height: 20px;
}

.titulos {
    margin-top: 10px;
}

.bancoTuto {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 650px;
    height: 150px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

input {
    margin-top: 10px;
    margin-left: 5px;
}

.btn {
    margin-left: 30px;
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
}

.row {
    height: 10px;
}

.link {
    padding-top: 10px;
    margin-top: 15px;
    text-align: left;
    height: 10px;
}

